.product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.product-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-list img {
    width: 100%;
}

.product-item h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.product-item p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
}

.not-found {
    text-align: center;
}

@media (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
    }

    .search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .product-list {
        grid-template-columns: 1fr;
    }

    .product {
        margin-bottom: 20px;
    }
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
  }
  
  pagination-controls {
    display: inline-block;
  }